* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*Imports de Estilos de todos*/
/*Estilos Globales*/
h1 {
  font-family: 'Boogaloo', cursive;
  color: white;
}

h2 {
  font-family: 'Boogaloo', cursive;
  font-size: 40px;
  color: white;
}

h3 {
  font-family: 'Boogaloo', cursive;
  font-size: 40px;
  color: white;
}

h4 {
  font-family: 'Boogaloo', cursive;
  font-size: 20px;
  color: white;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  font-family: 'Source Sans Pro', sans-serif;
}

li {
  font-family: 'Source Sans Pro', sans-serif;
}

.columnas {
  width: 100%;
  margin-bottom: 50px;
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header-section .navbar-custom {
  background: #5151fd;
}

header .header-section .navbar-custom ul {
  font-size: 20px;
}

header .header-section .navbar-custom ul a {
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

header .header-section .navbar-custom ul a:hover {
  -webkit-text-decoration: yellow;
          text-decoration: yellow;
  text-decoration: underline;
}

header .header-section .navbar-custom ul ul {
  font-size: 15px;
}

/*Estilos Globales*/
h1 {
  font-family: 'Boogaloo', cursive;
  color: white;
}

h2 {
  font-family: 'Boogaloo', cursive;
  font-size: 40px;
  color: white;
}

h3 {
  font-family: 'Boogaloo', cursive;
  font-size: 40px;
  color: white;
}

h4 {
  font-family: 'Boogaloo', cursive;
  font-size: 20px;
  color: white;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  font-family: 'Source Sans Pro', sans-serif;
}

li {
  font-family: 'Source Sans Pro', sans-serif;
}

.columnas {
  width: 100%;
  margin-bottom: 50px;
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/*Main Index*/
main .section-slogan .section-slogan__columnas {
  width: 100%;
  margin-bottom: 50px;
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .section-slogan .section-slogan__columnas .section-slogan__sloganIndex {
  margin: 20px;
  position: relative;
  top: 150px;
  width: 50%;
}

main .section-slogan .section-slogan__columnas .section-slogan__sloganIndex .section-slogan__h2 {
  text-align: left;
  color: black;
  font-size: 50px;
}

@media only screen and (max-width: 834px) and (min-width: 250px) {
  main .section-slogan .section-slogan__columnas .section-slogan__sloganIndex .section-slogan__h2 {
    font-size: 25px;
    position: relative;
    bottom: 110px;
  }
}

@media only screen and (max-width: 1220px) and (min-width: 835px) {
  main .section-slogan .section-slogan__columnas .section-slogan__sloganIndex .section-slogan__h2 {
    font-size: 45px;
    position: relative;
    bottom: 70px;
  }
}

main .section-slogan .section-slogan__columnas .section-slogan__sloganIndex .section-slogan__a {
  color: white;
  text-decoration: none;
  background: #0d01cc;
  font-family: 'Boogaloo', cursive;
  background: linear-gradient(128deg, #0d01cc 0%, #1313e9 0%, #5d70fe 100%);
  font-size: 32px;
  -webkit-transition: font-size 0.5s;
  transition: font-size 0.5s;
  position: relative;
  left: 100px;
  top: 20px;
}

@media only screen and (max-width: 834px) and (min-width: 250px) {
  main .section-slogan .section-slogan__columnas .section-slogan__sloganIndex .section-slogan__a {
    display: none;
  }
}

@media only screen and (max-width: 1220px) and (min-width: 835px) {
  main .section-slogan .section-slogan__columnas .section-slogan__sloganIndex .section-slogan__a {
    display: none;
  }
}

main .section-slogan .section-slogan__columnas .section-slogan__sloganIndex .section-slogan__a:hover {
  font-size: 40px;
}

main .section-slogan .section-slogan__columnas .section-slogan__imagen {
  width: 70%;
}

@media only screen and (max-width: 834px) and (min-width: 250px) {
  main .section-slogan .section-slogan__columnas .section-slogan__imagen img {
    width: 200px;
    position: relative;
    top: 50px;
  }
}

@media only screen and (max-width: 1220px) and (min-width: 835px) {
  main .section-slogan .section-slogan__columnas .section-slogan__imagen img {
    width: 500px;
  }
}

main #cursos-section .cursos-section__h3 {
  text-align: center;
  font-size: 40px;
  background-color: #5151fd;
}

main #cursos-section .container .carouselProgramas {
  padding: 40px;
}

main #alumnos-section {
  height: 1300px;
}

@media only screen and (max-width: 834px) and (min-width: 250px) {
  main #alumnos-section {
    height: 950px;
  }
}

@media only screen and (max-width: 1220px) and (min-width: 835px) {
  main #alumnos-section {
    height: 1000px;
  }
}

main #alumnos-section .alumnos-section__h3 {
  text-align: center;
  background-color: #5151fd;
  font-size: 40px;
}

main #alumnos-section .alumnos-section__alumnos {
  width: 100%;
  margin-bottom: 50px;
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  margin: 10px, 20px,10px,10px;
  height: 300px;
  background-color: #adadad;
  background-size: 200px;
}

@media only screen and (max-width: 834px) and (min-width: 250px) {
  main #alumnos-section .alumnos-section__alumnos {
    height: 150px;
    margin: 0;
  }
}

@media only screen and (max-width: 1220px) and (min-width: 835px) {
  main #alumnos-section .alumnos-section__alumnos {
    height: 200px;
    margin: 5px;
  }
}

main #alumnos-section .alumnos-section__alumnos h4 {
  color: black;
}

@media only screen and (max-width: 834px) and (min-width: 250px) {
  main #alumnos-section .alumnos-section__alumnos h4 {
    font-size: 15px;
  }
}

@media only screen and (max-width: 1220px) and (min-width: 835px) {
  main #alumnos-section .alumnos-section__alumnos h4 {
    font-size: 20px;
  }
}

main #alumnos-section .alumnos-section__alumnos h3 {
  text-align: center;
  background-color: #5151fd;
  font-size: 40px;
}

main #alumnos-section .alumnos-section__alumnos img {
  border-radius: 80px;
}

@media only screen and (max-width: 834px) and (min-width: 250px) {
  main #alumnos-section .alumnos-section__alumnos img {
    width: 50px;
  }
}

@media only screen and (max-width: 1220px) and (min-width: 835px) {
  main #alumnos-section .alumnos-section__alumnos img {
    width: 75px;
  }
}

@media only screen and (max-width: 834px) and (min-width: 250px) {
  main #alumnos-section .alumnos-section__alumnos p {
    font-size: 10px;
  }
}

@media only screen and (max-width: 1220px) and (min-width: 835px) {
  main #alumnos-section .alumnos-section__alumnos p {
    font-size: 15px;
  }
}

main .section-sloganAzul {
  margin-bottom: 30px;
}

main .section-sloganAzul h1 {
  font-size: 70px;
  color: white;
  background-color: #5151fd;
  text-align: center;
  padding: 10px;
}

@media only screen and (max-width: 834px) and (min-width: 250px) {
  main .section-sloganAzul h1 {
    font-size: 35px;
  }
}

/*Main Programas*/
main .section-programas .section-programas__columnaProgramas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main .section-programas .section-programas__columnaProgramas .section-cursoVirtual {
  position: relative;
  top: 35px;
}

main .section-programas .section-programas__columnaProgramas .section-cursoVirtual h3 {
  font-size: 50px;
  color: black;
}

@media only screen and (max-width: 834px) and (min-width: 250px) {
  main .section-programas .section-programas__columnaProgramas .section-cursoVirtual h3 {
    font-size: 25px;
  }
}

@media only screen and (max-width: 1220px) and (min-width: 835px) {
  main .section-programas .section-programas__columnaProgramas .section-cursoVirtual h3 {
    font-size: 35px;
  }
}

main .section-programas .section-programas__columnaProgramas .section-programa h2 {
  color: yellow;
  font-size: 100px;
}

@media only screen and (max-width: 834px) and (min-width: 250px) {
  main .section-programas .section-programas__columnaProgramas .section-programa h2 {
    font-size: 50px;
  }
}

@media only screen and (max-width: 1220px) and (min-width: 835px) {
  main .section-programas .section-programas__columnaProgramas .section-programa h2 {
    font-size: 75px;
  }
}

main .section-programas .section-programas__columnaProgramas .section-programas__imagenProgramas {
  margin: 20px;
  width: 40vh;
}

@media only screen and (max-width: 834px) and (min-width: 250px) {
  main .section-programas .section-programas__columnaProgramas .section-programas__imagenProgramas img {
    width: 35vh;
  }
}

@media only screen and (max-width: 1220px) and (min-width: 835px) {
  main .section-programas .section-programas__columnaProgramas .section-programas__imagenProgramas img {
    width: 38vh;
  }
}

main .section-programas .section-programas__columnaProgramas .section-programas__listaProgramas ul {
  font-size: 30px;
}

@media only screen and (max-width: 834px) and (min-width: 250px) {
  main .section-programas .section-programas__columnaProgramas .section-programas__listaProgramas ul {
    font-size: 15px;
  }
}

@media only screen and (max-width: 1220px) and (min-width: 835px) {
  main .section-programas .section-programas__columnaProgramas .section-programas__listaProgramas ul {
    font-size: 25px;
  }
}

main .section-programas .section-programas__columnaProgramas .section-programas__listaProgramas a {
  color: white;
  text-decoration: none;
  background: #0d01cc;
  font-family: 'Boogaloo', cursive;
  background: linear-gradient(128deg, #0d01cc 0%, #1313e9 0%, #5d70fe 100%);
  font-size: 32px;
  -webkit-transition: font-size 0.5s;
  transition: font-size 0.5s;
  position: relative;
  left: 100px;
  top: 20px;
}

@media only screen and (max-width: 834px) and (min-width: 250px) {
  main .section-programas .section-programas__columnaProgramas .section-programas__listaProgramas a {
    font-size: 20px;
    position: relative;
    left: 50px;
  }
}

@media only screen and (max-width: 1220px) and (min-width: 835px) {
  main .section-programas .section-programas__columnaProgramas .section-programas__listaProgramas a {
    font-size: 25px;
  }
}

main .section-programas .section-programas__columnaProgramas .section-programas__listaProgramas a:hover {
  font-size: 40px;
}

@media only screen and (max-width: 834px) and (min-width: 250px) {
  main .section-programas .section-programas__columnaProgramas .section-programas__listaProgramas a:hover {
    font-size: 25px;
  }
}

@media only screen and (max-width: 1220px) and (min-width: 835px) {
  main .section-programas .section-programas__columnaProgramas .section-programas__listaProgramas a:hover {
    font-size: 30px;
  }
}

main .section-programas .section-programas__columnaProgramas .section-programas__listaProgramas h2 {
  color: yellow;
  margin-top: 40px;
}

@media only screen and (max-width: 834px) and (min-width: 250px) {
  main .section-programas .section-programas__columnaProgramas .section-programas__listaProgramas h2 {
    font-size: 25px;
  }
}

@media only screen and (max-width: 1220px) and (min-width: 835px) {
  main .section-programas .section-programas__columnaProgramas .section-programas__listaProgramas h2 {
    font-size: 30px;
  }
}

main .section-beneficios .section-beneficios__cajaBeneficios {
  width: 100%;
  background-color: yellow;
  margin: 30px;
}

@media only screen and (max-width: 834px) and (min-width: 250px) {
  main .section-beneficios .section-beneficios__cajaBeneficios {
    margin: 20px;
    position: relative;
    right: 20px;
  }
}

main .section-beneficios .section-beneficios__cajaBeneficios h2 {
  padding-left: 180px;
  font-size: 40px;
}

@media only screen and (max-width: 834px) and (min-width: 250px) {
  main .section-beneficios .section-beneficios__cajaBeneficios h2 {
    font-size: 20px;
  }
}

main .section-beneficios .section-beneficios__cajaBeneficios .section-beneficios__columnaProgramas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main .section-beneficios .section-beneficios__cajaBeneficios .section-beneficios__columnaProgramas ul {
  color: black;
  font-size: 25px;
}

@media only screen and (max-width: 834px) and (min-width: 250px) {
  main .section-beneficios .section-beneficios__cajaBeneficios .section-beneficios__columnaProgramas ul {
    font-size: 13px;
  }
}

@media only screen and (max-width: 1220px) and (min-width: 835px) {
  main .section-beneficios .section-beneficios__cajaBeneficios .section-beneficios__columnaProgramas ul {
    font-size: 18px;
  }
}

main .section-beneficios .section-beneficios__cajaBeneficios .section-beneficios__columnaProgramas a {
  color: white;
  text-decoration: none;
  font-family: 'Boogaloo', cursive;
  background: #22c335;
  background: -webkit-gradient(linear, left bottom, left top, from(#22c335), to(#2dfd37));
  background: linear-gradient(0deg, #22c335 0%, #2dfd37 100%);
  font-size: 32px;
  -webkit-transition: font-size 0.5s;
  transition: font-size 0.5s;
  position: relative;
  left: 100px;
  top: 20px;
}

main .section-beneficios .section-beneficios__cajaBeneficios .section-beneficios__columnaProgramas a:hover {
  font-size: 35px;
}

@media only screen and (max-width: 834px) and (min-width: 250px) {
  main .section-beneficios .section-beneficios__cajaBeneficios .section-beneficios__columnaProgramas a:hover {
    font-size: 15px;
    position: relative;
    bottom: 30px;
  }
}

@media only screen and (max-width: 1220px) and (min-width: 835px) {
  main .section-beneficios .section-beneficios__cajaBeneficios .section-beneficios__columnaProgramas a:hover {
    font-size: 20px;
  }
}

@media only screen and (max-width: 834px) and (min-width: 250px) {
  main .section-beneficios .section-beneficios__cajaBeneficios .section-beneficios__columnaProgramas a {
    font-size: 10px;
  }
}

@media only screen and (max-width: 1220px) and (min-width: 835px) {
  main .section-beneficios .section-beneficios__cajaBeneficios .section-beneficios__columnaProgramas a {
    font-size: 25px;
  }
}

main #cursos-section .cursos-section__h3 {
  text-align: center;
  font-size: 40px;
  background-color: #5151fd;
}

main #cursos-section .container .carouselProgramas {
  padding: 40px;
}

/*Main Registrate*/
main .section-registrate__imagenFormulario {
  width: 100%;
}

@media only screen and (max-width: 834px) and (min-width: 250px) {
  main .columnas {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media only screen and (max-width: 1220px) and (min-width: 835px) {
  main .columnas {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

main .columnas .section-registrate__mapaRegistrate {
  margin-left: 50px;
}

@media only screen and (max-width: 834px) and (min-width: 250px) {
  main .columnas .section-registrate__mapaRegistrate {
    margin: 0;
  }
}

@media only screen and (max-width: 1220px) and (min-width: 835px) {
  main .columnas .section-registrate__mapaRegistrate {
    margin-left: 125px;
  }
}

main .columnas form {
  margin: 30px;
}

/*Estilos Globales*/
h1 {
  font-family: 'Boogaloo', cursive;
  color: white;
}

h2 {
  font-family: 'Boogaloo', cursive;
  font-size: 40px;
  color: white;
}

h3 {
  font-family: 'Boogaloo', cursive;
  font-size: 40px;
  color: white;
}

h4 {
  font-family: 'Boogaloo', cursive;
  font-size: 20px;
  color: white;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  font-family: 'Source Sans Pro', sans-serif;
}

li {
  font-family: 'Source Sans Pro', sans-serif;
}

.columnas {
  width: 100%;
  margin-bottom: 50px;
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-section .footer-section__container {
  width: 75%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas: "titulos titulos titulos titulos"  "diego karla cursos faq";
  gap: 15px;
}

footer .footer-section .footer-section__container .footer-section__padreCoach {
  margin: 20px;
}

@media only screen and (max-width: 834px) and (min-width: 250px) {
  footer .footer-section .footer-section__container .footer-section__padreCoach {
    margin: 0;
  }
}

footer .footer-section .footer-section__container .footer-section__padreCoach .footer-section__caja {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: titulos;
}

footer .footer-section .footer-section__container .footer-section__padreCoach .footer-section__caja .footer-section__h3 {
  color: black;
}

@media only screen and (max-width: 834px) and (min-width: 250px) {
  footer .footer-section .footer-section__container .footer-section__padreCoach .footer-section__caja .footer-section__h3 {
    font-size: 25px;
  }
}

footer .footer-section .footer-section__container .footer-section__padreCoach .footer-section__coach {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-section .footer-section__container .footer-section__padreCoach .footer-section__coach h4 {
  color: black;
}

@media only screen and (max-width: 834px) and (min-width: 250px) {
  footer .footer-section .footer-section__container .footer-section__padreCoach .footer-section__coach h4 {
    font-size: 15px;
    position: relative;
    left: 15px;
  }
}

@media only screen and (max-width: 834px) and (min-width: 250px) {
  footer .footer-section .footer-section__container .footer-section__padreCoach .footer-section__coach p {
    font-size: 12px;
    margin: 3px;
  }
}

footer .footer-section .footer-section__container .footer-section__padreCoach .footer-section__coach .footer-section__coachesD {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: diego;
}

@media only screen and (max-width: 834px) and (min-width: 250px) {
  footer .footer-section .footer-section__container .footer-section__padreCoach .footer-section__coach .footer-section__coachesD img {
    width: 100px;
    border-radius: 20px;
  }
}

@media only screen and (max-width: 834px) and (min-width: 250px) {
  footer .footer-section .footer-section__container .footer-section__padreCoach .footer-section__coach .footer-section__coachesD a img {
    width: 20px;
  }
}

footer .footer-section .footer-section__container .footer-section__padreCoach .footer-section__coach .footer-section__coachesK {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: karla;
}

@media only screen and (max-width: 834px) and (min-width: 250px) {
  footer .footer-section .footer-section__container .footer-section__padreCoach .footer-section__coach .footer-section__coachesK img {
    width: 100px;
    border-radius: 20px;
  }
}

@media only screen and (max-width: 834px) and (min-width: 250px) {
  footer .footer-section .footer-section__container .footer-section__padreCoach .footer-section__coach .footer-section__coachesK a img {
    width: 20px;
  }
}

footer .footer-section .footer-section__container .footer-section__padreCursos {
  margin: 20px;
}

@media only screen and (max-width: 834px) and (min-width: 250px) {
  footer .footer-section .footer-section__container .footer-section__padreCursos {
    margin: 0;
  }
}

footer .footer-section .footer-section__container .footer-section__padreCursos .footer-section__caja {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: titulos;
}

footer .footer-section .footer-section__container .footer-section__padreCursos .footer-section__caja .footer-section__h3 {
  color: black;
}

@media only screen and (max-width: 834px) and (min-width: 250px) {
  footer .footer-section .footer-section__container .footer-section__padreCursos .footer-section__caja .footer-section__h3 {
    font-size: 25px;
  }
}

footer .footer-section .footer-section__container .footer-section__padreCursos .footer-section__cursos {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: cursos;
}

footer .footer-section .footer-section__container .footer-section__padreCursos .footer-section__cursos .footer-section__ul {
  list-style: none;
}

@media only screen and (max-width: 834px) and (min-width: 250px) {
  footer .footer-section .footer-section__container .footer-section__padreCursos .footer-section__cursos .footer-section__ul {
    font-size: 15px;
  }
}

footer .footer-section .footer-section__container .footer-section__padreCursos .footer-section__cursos .footer-section__ul .footer-section__li .footer-section__a {
  text-decoration: none;
  color: black;
}

footer .footer-section .footer-section__container .footer-section__padreCursos .footer-section__cursos .footer-section__ul .footer-section__li .footer-section__a:hover {
  color: blue;
  text-decoration: underline;
}

footer .footer-section .footer-section__container .footer-section__padreFaq {
  margin: 20px;
}

@media only screen and (max-width: 834px) and (min-width: 250px) {
  footer .footer-section .footer-section__container .footer-section__padreFaq {
    margin: 0;
  }
}

footer .footer-section .footer-section__container .footer-section__padreFaq .footer-section__caja {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: titulos;
}

footer .footer-section .footer-section__container .footer-section__padreFaq .footer-section__caja .footer-section__h3 {
  color: black;
}

@media only screen and (max-width: 834px) and (min-width: 250px) {
  footer .footer-section .footer-section__container .footer-section__padreFaq .footer-section__caja .footer-section__h3 {
    font-size: 25px;
  }
}

footer .footer-section .footer-section__container .footer-section__padreFaq .footer-section__faq {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: faq;
}

footer .footer-section .footer-section__container .footer-section__padreFaq .footer-section__faq .footer-section__ul {
  list-style: none;
}

@media only screen and (max-width: 834px) and (min-width: 250px) {
  footer .footer-section .footer-section__container .footer-section__padreFaq .footer-section__faq .footer-section__ul li h5 {
    font-size: 10px;
  }
}

@media only screen and (max-width: 1220px) and (min-width: 835px) {
  footer .footer-section .footer-section__container .footer-section__padreFaq .footer-section__faq .footer-section__ul li h5 {
    font-size: 15px;
  }
}

@media only screen and (max-width: 834px) and (min-width: 250px) {
  footer .footer-section .footer-section__container .footer-section__padreFaq .footer-section__faq form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media only screen and (max-width: 834px) and (min-width: 250px) {
  footer .footer-section .footer-section__container .footer-section__padreFaq .footer-section__faq form input {
    font-size: 10px;
  }
}

footer .footer-section .footer-section__container .footer-section__padreFaq .footer-section__faq form button {
  color: #5151fd;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

footer .footer-section .footer-section__container .footer-section__padreFaq .footer-section__faq form button:hover {
  background-color: #5151fd;
  color: white;
}

@media only screen and (max-width: 834px) and (min-width: 250px) {
  footer .footer-section .footer-section__container .footer-section__padreFaq .footer-section__faq form button {
    font-size: 10px;
  }
}

/*Estilos Globales*/
h1 {
  font-family: 'Boogaloo', cursive;
  color: white;
}

h2 {
  font-family: 'Boogaloo', cursive;
  font-size: 40px;
  color: white;
}

h3 {
  font-family: 'Boogaloo', cursive;
  font-size: 40px;
  color: white;
}

h4 {
  font-family: 'Boogaloo', cursive;
  font-size: 20px;
  color: white;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  font-family: 'Source Sans Pro', sans-serif;
}

li {
  font-family: 'Source Sans Pro', sans-serif;
}

.columnas {
  width: 100%;
  margin-bottom: 50px;
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=estilos.css.map */