@import"variables";
footer{
    .footer-section{
        .footer-section__container{
            width: 100%;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-areas: 
            "titulos titulos titulos titulos" 
            "diego karla cursos faq";
            gap: 15px;
            .footer-section__padreCoach{
                margin: 20px;
                .footer-section__caja{
                    grid-area: titulos;
                    .footer-section__h3{
                        color: black;
                        @media only screen and (max-width:834px) and (min-width:250px){
                            font-size: 25px;
                        }
                    }
                }
                .footer-section__coach{
                    display: flex;
                    h4{
                        color: black;
                        @media only screen and (max-width:834px) and (min-width:250px){
                            font-size: 15px;
                            position:relative;
                            left: 15px;
                        }
                    }
                    p{
                        @media only screen and (max-width:834px) and (min-width:250px){
                            font-size: 12px;
                            margin: 3px;
                        }
                    }
                    .footer-section__coachesD{
                        grid-area: diego;
                        img{
                            @media only screen and (max-width:834px) and (min-width:250px){
                                width: 100px;
                                border-radius: 20px;
                            }
                        }
                        a{
                            img{
                                @media only screen and (max-width:834px) and (min-width:250px){
                                    width: 20px;
                                }
                            }
                        }
                    }
                    .footer-section__coachesK{
                        grid-area: karla;
                        img{
                            @media only screen and (max-width:834px) and (min-width:250px){
                                width: 100px;
                                border-radius: 20px;
                            }
                        }
                        a{
                            
                            img{
                                @media only screen and (max-width:834px) and (min-width:250px){
                                    width: 20px;
                                }
                            }
                        }
                    }
                }
            }
            .footer-section__padreCursos{
                margin: 20px;
                .footer-section__caja{
                    grid-area: titulos;
                    .footer-section__h3{
                        color: black;
                        @media only screen and (max-width:834px) and (min-width:250px){
                            font-size: 25px;
                        }
                    }
                }
                .footer-section__cursos{
                    grid-area: cursos;
                    .footer-section__ul{
                        list-style: none;
                        @media only screen and (max-width:834px) and (min-width:250px){
                            font-size: 15px;
                        }
                        .footer-section__li{
                            .footer-section__a{
                                text-decoration: none;
                                color: black; 
                                &:hover{
                                    color: blue;
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }
            .footer-section__padreFaq{
                margin: 20px;
                .footer-section__caja{
                    grid-area: titulos;
                    .footer-section__h3{
                        color:black;
                        @media only screen and (max-width:834px) and (min-width:250px){
                            font-size: 25px;
                        }
                    }
                }
                .footer-section__faq{
                    grid-area: faq;
                    .footer-section__ul{
                        list-style: none;
                        li{
                            h5{
                                @media only screen and (max-width:834px) and (min-width:250px){
                                    font-size: 10px;
                                }
                                @media only screen and (max-width:1220px) and (min-width:835px){
                                    font-size: 15px;
                                }
                            }
                        }
                    }
                    form{
                        @media only screen and (max-width:834px) and (min-width:250px){
                            flex-wrap: wrap;;
                        }
                        input{
                            @media only screen and (max-width:834px) and (min-width:250px){
                                font-size: 10px;
                            } 
                        }
                        button{
                            color: $azul1;
                            transition: 0.5s;
                            &:hover{
                                background-color:$azul1;
                                color: white;
                            }
                            @media only screen and (max-width:834px) and (min-width:250px){
                            font-size: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}