footer .footer-section .footer-section__container {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas: "titulos titulos titulos titulos"  "diego karla cursos faq";
  gap: 15px;
}

footer .footer-section .footer-section__container .footer-section__padreCoach {
  margin: 20px;
}

footer .footer-section .footer-section__container .footer-section__padreCoach .footer-section__caja {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: titulos;
}

footer .footer-section .footer-section__container .footer-section__padreCoach .footer-section__caja .footer-section__h3 {
  color: black;
}

@media only screen and (max-width: 834px) and (min-width: 415px) {
  footer .footer-section .footer-section__container .footer-section__padreCoach .footer-section__caja .footer-section__h3 {
    font-size: 25px;
  }
}

footer .footer-section .footer-section__container .footer-section__padreCoach .footer-section__coach {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-section .footer-section__container .footer-section__padreCoach .footer-section__coach h4 {
  color: black;
}

@media only screen and (max-width: 834px) and (min-width: 415px) {
  footer .footer-section .footer-section__container .footer-section__padreCoach .footer-section__coach h4 {
    font-size: 15px;
    position: relative;
    left: 15px;
  }
}

@media only screen and (max-width: 834px) and (min-width: 415px) {
  footer .footer-section .footer-section__container .footer-section__padreCoach .footer-section__coach p {
    font-size: 12px;
    margin: 3px;
  }
}

footer .footer-section .footer-section__container .footer-section__padreCoach .footer-section__coach .footer-section__coachesD {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: diego;
}

@media only screen and (max-width: 834px) and (min-width: 415px) {
  footer .footer-section .footer-section__container .footer-section__padreCoach .footer-section__coach .footer-section__coachesD img {
    width: 100px;
    border-radius: 20px;
  }
}

@media only screen and (max-width: 834px) and (min-width: 415px) {
  footer .footer-section .footer-section__container .footer-section__padreCoach .footer-section__coach .footer-section__coachesD a img {
    width: 20px;
  }
}

footer .footer-section .footer-section__container .footer-section__padreCoach .footer-section__coach .footer-section__coachesK {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: karla;
}

@media only screen and (max-width: 834px) and (min-width: 415px) {
  footer .footer-section .footer-section__container .footer-section__padreCoach .footer-section__coach .footer-section__coachesK img {
    width: 100px;
    border-radius: 20px;
  }
}

@media only screen and (max-width: 834px) and (min-width: 415px) {
  footer .footer-section .footer-section__container .footer-section__padreCoach .footer-section__coach .footer-section__coachesK a img {
    width: 20px;
  }
}

footer .footer-section .footer-section__container .footer-section__padreCursos {
  margin: 20px;
}

footer .footer-section .footer-section__container .footer-section__padreCursos .footer-section__caja {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: titulos;
}

footer .footer-section .footer-section__container .footer-section__padreCursos .footer-section__caja .footer-section__h3 {
  color: black;
}

@media only screen and (max-width: 834px) and (min-width: 415px) {
  footer .footer-section .footer-section__container .footer-section__padreCursos .footer-section__caja .footer-section__h3 {
    font-size: 25px;
  }
}

footer .footer-section .footer-section__container .footer-section__padreCursos .footer-section__cursos {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: cursos;
}

footer .footer-section .footer-section__container .footer-section__padreCursos .footer-section__cursos .footer-section__ul {
  list-style: none;
}

@media only screen and (max-width: 834px) and (min-width: 415px) {
  footer .footer-section .footer-section__container .footer-section__padreCursos .footer-section__cursos .footer-section__ul {
    font-size: 15px;
  }
}

footer .footer-section .footer-section__container .footer-section__padreCursos .footer-section__cursos .footer-section__ul .footer-section__li .footer-section__a {
  text-decoration: none;
  color: black;
}

footer .footer-section .footer-section__container .footer-section__padreCursos .footer-section__cursos .footer-section__ul .footer-section__li .footer-section__a:hover {
  color: blue;
  text-decoration: underline;
}

footer .footer-section .footer-section__container .footer-section__padreFaq {
  margin: 20px;
}

footer .footer-section .footer-section__container .footer-section__padreFaq .footer-section__caja {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: titulos;
}

footer .footer-section .footer-section__container .footer-section__padreFaq .footer-section__caja .footer-section__h3 {
  color: black;
}

@media only screen and (max-width: 834px) and (min-width: 415px) {
  footer .footer-section .footer-section__container .footer-section__padreFaq .footer-section__caja .footer-section__h3 {
    font-size: 25px;
  }
}

footer .footer-section .footer-section__container .footer-section__padreFaq .footer-section__faq {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: faq;
}

footer .footer-section .footer-section__container .footer-section__padreFaq .footer-section__faq .footer-section__ul {
  list-style: none;
}

@media only screen and (max-width: 834px) and (min-width: 415px) {
  footer .footer-section .footer-section__container .footer-section__padreFaq .footer-section__faq .footer-section__ul li h5 {
    font-size: 10px;
  }
}

@media only screen and (max-width: 1220px) and (min-width: 835px) {
  footer .footer-section .footer-section__container .footer-section__padreFaq .footer-section__faq .footer-section__ul li h5 {
    font-size: 15px;
  }
}
/*# sourceMappingURL=footer.css.map */