@import "variables";
header{
        .header-section{
            .navbar-custom{
                background: $azul1;
                ul{
                    font-size: 20px;
                    a{
                        transition: 1.5s;
                        &:hover{
                            text-decoration: yellow;
                            text-decoration: underline;
                        }
                    }
                    ul{
                        font-size: 15px;
                    }
                }
        }
    }
}