/*Estilos Globales*/
h1 {
  font-family: 'Boogaloo', cursive;
  color: white;
}

h2 {
  font-family: 'Boogaloo', cursive;
  font-size: 40px;
  color: white;
}

h3 {
  font-family: 'Boogaloo', cursive;
  font-size: 40px;
  color: white;
}

h4 {
  font-family: 'Boogaloo', cursive;
  font-size: 20px;
  color: white;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  font-family: 'Source Sans Pro', sans-serif;
}

li {
  font-family: 'Source Sans Pro', sans-serif;
}

.columnas {
  width: 100%;
  margin-bottom: 50px;
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/*Main Index*/
main .section-slogan .section-slogan__columnas {
  width: 100%;
  margin-bottom: 50px;
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .section-slogan .section-slogan__columnas .section-slogan__sloganIndex {
  margin: 20px;
  position: relative;
  top: 150px;
  width: 50%;
}

main .section-slogan .section-slogan__columnas .section-slogan__sloganIndex .section-slogan__h2 {
  text-align: left;
  color: black;
  font-size: 50px;
}

main .section-slogan .section-slogan__columnas .section-slogan__sloganIndex .section-slogan__a {
  color: white;
  text-decoration: none;
  background: #0d01cc;
  font-family: 'Boogaloo', cursive;
  background: linear-gradient(128deg, #0d01cc 0%, #1313e9 0%, #5d70fe 100%);
  font-size: 32px;
  -webkit-transition: font-size 0.5s;
  transition: font-size 0.5s;
  position: relative;
  left: 100px;
  top: 20px;
}

main .section-slogan .section-slogan__columnas .section-slogan__sloganIndex .section-slogan__a:hover {
  font-size: 40px;
}

main .section-slogan .section-slogan__columnas .section-slogan__imagen {
  width: 50%;
}

main #cursos-section .cursos-section__h3 {
  text-align: center;
  font-size: 40px;
  background-color: #5151fd;
}

main #cursos-section .container .carouselProgramas {
  padding: 40px;
}

main #alumnos-section {
  height: 500px;
}

main #alumnos-section .alumnos-section__h3 {
  text-align: center;
  background-color: #5151fd;
  font-size: 40px;
}

main #alumnos-section .alumnos-section__columnas {
  width: 100%;
  margin-bottom: 50px;
  margin-top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main #alumnos-section .alumnos-section__columnas .alumnos-section__redesSociales {
  height: 500px;
}

main #alumnos-section .alumnos-section__columnas .alumnos-section__redesSociales .alumnos-section__h2 {
  color: black;
}

main #alumnos-section .alumnos-section__columnas .alumnos-section__redesSociales video {
  height: 300px;
  margin-bottom: 60px;
}

main #alumnos-section .alumnos-section__columnas .alumnos-section__alumnos {
  text-align: right;
  margin: 20px;
  height: 300px;
  background-color: #adadad;
  overflow: scroll;
}

main #alumnos-section .alumnos-section__columnas .alumnos-section__alumnos h4 {
  color: black;
}

main #alumnos-section .alumnos-section__columnas .alumnos-section__alumnos h3 {
  text-align: center;
  background-color: #5151fd;
  font-size: 40px;
}

main #alumnos-section .alumnos-section__columnas .alumnos-section__alumnos img {
  border-radius: 80px;
}

main .section-sloganAzul {
  margin-bottom: 30px;
}

main .section-sloganAzul h1 {
  font-size: 70px;
  color: white;
  background-color: #5151fd;
  text-align: center;
  padding: 10px;
}

/*Main Programas*/
main .section-programas .section-programas__columnaProgramas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main .section-programas .section-programas__columnaProgramas .section-cursoVirtual {
  position: relative;
  top: 35px;
}

main .section-programas .section-programas__columnaProgramas .section-cursoVirtual h3 {
  font-size: 50px;
  color: black;
}

main .section-programas .section-programas__columnaProgramas .section-programa h2 {
  color: yellow;
  font-size: 100px;
}

main .section-programas .section-programas__columnaProgramas .section-programas__imagenProgramas {
  margin: 20px;
  width: 40vh;
}

main .section-programas .section-programas__columnaProgramas .section-programas__listaProgramas ul {
  font-size: 30px;
}

main .section-programas .section-programas__columnaProgramas .section-programas__listaProgramas a {
  color: white;
  text-decoration: none;
  background: #0d01cc;
  font-family: 'Boogaloo', cursive;
  background: linear-gradient(128deg, #0d01cc 0%, #1313e9 0%, #5d70fe 100%);
  font-size: 32px;
  -webkit-transition: font-size 0.5s;
  transition: font-size 0.5s;
  position: relative;
  left: 100px;
  top: 20px;
}

main .section-programas .section-programas__columnaProgramas .section-programas__listaProgramas a:hover {
  font-size: 40px;
}

main .section-programas .section-programas__columnaProgramas .section-programas__listaProgramas h2 {
  color: yellow;
  margin-top: 40px;
}

main .section-beneficios .section-beneficios__cajaBeneficios {
  width: 100%;
  background-color: yellow;
  margin: 30px;
}

main .section-beneficios .section-beneficios__cajaBeneficios h2 {
  padding-left: 180px;
  font-size: 40px;
}

main .section-beneficios .section-beneficios__cajaBeneficios .section-beneficios__columnaProgramas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main .section-beneficios .section-beneficios__cajaBeneficios .section-beneficios__columnaProgramas ul {
  color: black;
  font-size: 25px;
}

main .section-beneficios .section-beneficios__cajaBeneficios .section-beneficios__columnaProgramas a {
  color: white;
  text-decoration: none;
  font-family: 'Boogaloo', cursive;
  background: #22c335;
  background: -webkit-gradient(linear, left bottom, left top, from(#22c335), to(#2dfd37));
  background: linear-gradient(0deg, #22c335 0%, #2dfd37 100%);
  font-size: 32px;
  -webkit-transition: font-size 0.5s;
  transition: font-size 0.5s;
  position: relative;
  left: 100px;
  top: 20px;
}

main #cursos-section .cursos-section__h3 {
  text-align: center;
  font-size: 40px;
  background-color: #5151fd;
}

main #cursos-section .container .carouselProgramas {
  padding: 40px;
}

/*Main Registrate*/
main .imagenFormulario {
  width: 100%;
  height: 85vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(transparent)) url("Multimedia de LAD/imagenMun1-min.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), transparent) url("Multimedia de LAD/imagenMun1-min.jpg");
  background-size: cover;
  background-position: center;
}

main .mapaRegistrate {
  margin-left: 50px;
}

main form {
  margin: 30px;
}
/*# sourceMappingURL=main.css.map */