@mixin columnas ($sinmargin:5%) {
    width: 100%;
    margin-bottom: 50px;
    margin-top: $sinmargin;
    display: flex;
    justify-content: space-between;
}
@mixin columna2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
@import "variables";
/*Main Index*/
main{
    .section-slogan{
        .section-slogan__columnas{
            @include columnas;
            .section-slogan__sloganIndex{
                margin: 20px;
                position:relative ;
                top: 150px;
                width: 50%;
                .section-slogan__h2{
                    text-align: left;
                    color: black;
                    font-size: 50px;
                    @media only screen and (max-width:834px) and (min-width:250px){
                        font-size: 25px;
                        position: relative;
                        bottom: 110px;
                    }
                    @media only screen and (max-width:1220px) and (min-width:835px){
                        font-size: 45px;
                        position: relative;
                        bottom: 70px;
                    }
                }
                .section-slogan__a{
                    color: white;
                    text-decoration: none;
                    background: rgb(13,1,204);
                    font-family: 'Boogaloo', cursive;
                    background: linear-gradient(128deg, rgba(13,1,204,1) 0%, rgba(19,19,233,1) 0%, rgba(93,112,254,1) 100%);
                    font-size: 32px;
                    transition: font-size 0.5s;
                    position: relative;
                    left: 100px;
                    top: 20px;
                    @media only screen and (max-width:834px) and (min-width:250px){
                        display: none;
                    }
                    @media only screen and (max-width:1220px) and (min-width:835px){
                        display: none;
                    }
                    &:hover{
                        font-size: 40px;
                    }
                }
            }
            .section-slogan__imagen{
                width: 70%;
                    img{
                    @media only screen and (max-width:834px) and (min-width:250px){
                        width: 200px;
                        position: relative;
                        top: 50px;
                    }
                    @media only screen and (max-width:1220px) and (min-width:835px){
                        width: 500px;
                    }
                }
            }
        }
    }
    #cursos-section{
        .cursos-section__h3{
            text-align: center;
            font-size: 40px;
            background-color: $azul1 ;
        }
        .container{
            .carouselProgramas{
                padding: 40px;
            }
        }
    }
    #alumnos-section{
        height: 1300px; 
        @media only screen and (max-width:834px) and (min-width:250px){
            height: 950px;
        }
        @media only screen and (max-width:1220px) and (min-width:835px){
            height: 1000px;
        }
        .alumnos-section__h3{
            text-align: center;
            background-color:$azul1 ;
            font-size: 40px; 
        }
        .alumnos-section__alumnos{
                @include columnas();
                text-align: center;
                margin: 10px, 20px,10px,10px;
                height: 300px;
                background-color: rgb(173, 173, 173);
                background-size: 200px;
                @media only screen and (max-width:834px) and (min-width:250px){
                    height: 150px;
                    margin: 0;
                }
                @media only screen and (max-width:1220px) and (min-width:835px){
                    height: 200px;
                    margin: 5px;
                }
                h4{
                    color: black; 
                    @media only screen and (max-width:834px) and (min-width:250px){
                        font-size: 15px;
                    }
                    @media only screen and (max-width:1220px) and (min-width:835px){
                        font-size: 20px;
                    }
                }
                h3{
                    text-align: center;
                    background-color:$azul1;
                    font-size: 40px; 
                }
                img{
                    border-radius: 80px;
                    @media only screen and (max-width:834px) and (min-width:250px){
                        width: 50px;
                    }
                    @media only screen and (max-width:1220px) and (min-width:835px){
                        width: 75px;
                    }
                }
                p{
                    @media only screen and (max-width:834px) and (min-width:250px){
                        font-size: 10px;
                    }
                    @media only screen and (max-width:1220px) and (min-width:835px){
                        font-size: 15px;
                    }
                }
            }
    }
    .section-sloganAzul{
        margin-bottom: 30px;
        h1{
            font-size: 70px;
            color: white;
            background-color:$azul1 ;
            text-align: center;
            padding: 10px;
            @media only screen and (max-width:834px) and (min-width:250px){
                font-size: 35px;
            }
        }
    }   
}

/*Main Programas*/
main{
    .section-programas{
        .section-programas__columnaProgramas{
            @include columna2;
            .section-cursoVirtual{
                position: relative;
                top: 35px;
                h3{
                    font-size: 50px;
                    color: black; 
                    @media only screen and (max-width:834px) and (min-width:250px){
                        font-size: 25px;
                    }
                    @media only screen and (max-width:1220px) and (min-width:835px){
                        font-size: 35px;
                    }
                }
            }
            .section-programa{
                h2{
                    color: yellow;
                    font-size: 100px;
                    @media only screen and (max-width:834px) and (min-width:250px){
                        font-size: 50px;
                    }  
                    @media only screen and (max-width:1220px) and (min-width:835px){
                        font-size: 75px;
                    }
                }
            }
        }
        .section-programas__columnaProgramas{
            .section-programas__imagenProgramas{
                margin: 20px;
                width: 40vh;
                img{
                    @media only screen and (max-width:834px) and (min-width:250px){
                        width: 25vh;
                    }
                    @media only screen and (max-width:1220px) and (min-width:835px){
                        width: 38vh;
                    }
                }
            }
            .section-programas__listaProgramas{
                ul{
                    font-size: 30px;
                    @media only screen and (max-width:834px) and (min-width:250px){
                        font-size: 15px;
                    }
                    @media only screen and (max-width:1220px) and (min-width:835px){
                        font-size: 25px;
                    }
                }
                a{
                    color: white;
                    text-decoration: none;
                    background: rgb(13,1,204);
                    font-family: 'Boogaloo', cursive;
                    background: linear-gradient(128deg, rgba(13,1,204,1) 0%, rgba(19,19,233,1) 0%, rgba(93,112,254,1) 100%);
                    font-size: 32px;
                    transition: font-size 0.5s;
                    position: relative;
                    left: 100px;
                    top: 20px;
                    @media only screen and (max-width:834px) and (min-width:250px){
                        font-size: 20px;
                        position: relative;
                        left: 50px;
                    }
                    @media only screen and (max-width:1220px) and (min-width:835px){
                        font-size: 25px;
                    }
                    &:hover{
                        font-size: 40px; 
                        @media only screen and (max-width:834px) and (min-width:250px){
                            font-size: 25px;
                        }
                        @media only screen and (max-width:1220px) and (min-width:835px){
                            font-size: 30px;
                        }
                    }
                }
                h2{
                    color: yellow;
                    margin-top: 40px; 
                    @media only screen and (max-width:834px) and (min-width:250px){
                        font-size: 25px;
                    }
                    @media only screen and (max-width:1220px) and (min-width:835px){
                        font-size: 30px;
                    }
                }
            }
        }
    }
    .section-beneficios{
        .section-beneficios__cajaBeneficios{
            width: 100%;
            background-color: yellow;
            margin: 30px;
            @media only screen and (max-width:834px) and (min-width:250px){
                margin: 20px;
                position: relative;
                right: 20px;
            }
            h2{
                padding-left: 180px;
                font-size: 40px;
                @media only screen and (max-width:834px) and (min-width:250px){
                    font-size: 20px;
                } 
            }
            .section-beneficios__columnaProgramas{
                @include columna2;
                ul{
                    color: black;
                    font-size: 25px; 
                    @media only screen and (max-width:834px) and (min-width:250px){
                        font-size: 13px;
                    }
                    @media only screen and (max-width:1220px) and (min-width:835px){
                        font-size: 18px;
                    }
                }
                a{
                    color: white;
                    text-decoration: none;
                    font-family: 'Boogaloo', cursive;
                    background: rgb(34,195,53);
                    background: linear-gradient(0deg, rgba(34,195,53,1) 0%, rgba(45,253,55,1) 100%);
                    font-size: 32px;
                    transition: font-size 0.5s;
                    position: relative;
                    left: 100px;
                    top: 20px; 
                    &:hover{
                        font-size: 35px; 
                        @media only screen and (max-width:834px) and (min-width:250px){
                            font-size: 15px;
                            position: relative;
                            bottom: 30px;
                        }
                        @media only screen and (max-width:1220px) and (min-width:835px){
                            font-size: 20px;
                        }
                    }
                    @media only screen and (max-width:834px) and (min-width:250px){
                        font-size: 10px;
                    }
                    @media only screen and (max-width:1220px) and (min-width:835px){
                        font-size: 25px;
                    } 
                }
            }
        }
    }
    #cursos-section{
        .cursos-section__h3{
            text-align: center;
            font-size: 40px;
            background-color:$azul1 ;
        }
        .container{
            .carouselProgramas{
                padding: 40px;
            }
        }
    }
}

/*Main Registrate*/
main{
    .section-registrate__imagenFormulario{
        width: 100%;
    }
    .columnas{
        @media only screen and (max-width:834px) and (min-width:250px){
            flex-wrap: wrap;
        }  
        @media only screen and (max-width:1220px) and (min-width:835px){
            flex-wrap: wrap;
        }
        .section-registrate__mapaRegistrate{
            margin-left: 50px;
            @media only screen and (max-width:834px) and (min-width:250px){
                margin:0
            }
            @media only screen and (max-width:1220px) and (min-width:835px){
                margin-left: 125px;;
            }
        }
        form{
            margin:30px
        }
    }
}
